*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
a {
    text-decoration: none;
}

/* Cintainer */ 
section .container{
    
    width: 1280px;
    margin: 0 auto;
}

.footer-sec .container{
    width: 1280px;
    margin: 0 auto;
}
.content{
    background-image: linear-gradient(90deg, burlywood, #fad8b6, burlywood);
    margin: 0 auto;
    width: 1349px;
}

li, h1, h2, h5, span, p{
    color: #490000;
    list-style: none;    
}

/* header-section */
.header-wrapper {
    background-color: #490000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    flex-wrap: wrap;
}
.sj-logo {
    width: 60px;
    display: block;
}
.sj-search {
    width: 30vw;
}
.sj-search-input {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    height: 30px;
    border-radius: calc(50px/2);
    padding: 5px;
    align-items: center;
}
.sj-search-input input {
    height: 20px;
    border: none;
    width: 26vw;
}

.sj-links nav {
    display: flex;
    flex-direction: row;
}
.sj-links-link {
    padding: 10px 30px;
    text-transform: uppercase;
}

.sj-links-link a {
    transition: all 0.6s ease;
    color: #fff;
    padding: 15px 20px ;
}

.sj-links-link a:hover{
    background-color: #fff; 
    color: #490000;
}

.sj-hamburger {
    display: none;
}

.img-fluid {
    width: 100%;
}

.hr-line{
    display: none;
    border: 1px solid #490000;
}


/* navbar 1 */
.nav-bar{
    float: right;
    width: 45%;
    padding: 0 25px 0 25px;
    position: relative;
}

.nav-bar > div{
    cursor: pointer;
    display: inline;
    margin: 0 15px;
    padding: 30px 15px 13px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s;
    line-height: 65px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-bar > div:hover{ 
    color: rgb(0, 0, 0); 
    background-color: #fff;
}

.nav-bar div #menu1 {
    display: none;
    position: absolute;
    top: 59px;
    left: 147px;
    background-color: #fff;
    padding: 15px
}
.nav-bar #menu1 ul li {
    line-height: 30px; 
}
.nav-bar:hover #menu1 { 
    display: block; 
}
 
.nav-bar a{
    color: inherit;
}

/* navbar 2 */
.nav-bar2{
    text-transform: uppercase;
    background: #8d4836;
    padding: 16px 0px;
    width: 100%;
} 

.nav-bar2 nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bar2 .nav-link{
    color: #f5e39e;   
    padding: 15px;
    font-size: 16px;
    transition: 0.5s;
    position: relative;
}

.nav-bar2 .nav-link::before{
    content: "";
    position: absolute;
    bottom:2;    
    width:75%;
    height: 1px;
    color: #000000; 
    transform: scale(0);
    transition:0.4s ease-in-out; 
}

.nav-bar2 .nav-link:hover::before{
    content: ""; 
    position: absolute;   
    bottom:2;  
    transform: scale(1);   
    background-color: #ffffff;
}

.nav-bar2 .nav-link:hover{
    color: #ffffff;  
}

.dropdown{
    position: relative;
}
.drop-menu-icon i {
    display: none;
}

.drop-menu-1{
    position: absolute; 
    left: 0px;
    top: 35px;
    z-index: 2;
    background-color: #490000;
    display: none; 
    box-shadow: 0px 0px 8px 1px #360101;
    border-radius: 10px;
}

.drop-menu-1 ul{
    display: flex;
    justify-content: center;
}

.drop-menu-1 ul>div{
    margin: 9px 0px 4px 10px;
}

.drop-menu-1 li{
    font-family: system-ui;
    text-transform:uppercase ;
    padding: 4px;
    list-style: none;
    color: #ffffff; 
    line-height: 25px;
    width: 150px; 
}

.drop-menu-1 .list{
    color: #f5e39e;
    font-size: 18px; 
}

.drop-menu-1 li a{
    padding-left: 5px;
    font-size: 14px;
    color: #fff;
}

.drop-menu-1 li a:hover{
    color: #f5e39e;
}

.dropdown:hover .drop-menu-1{ 
    display: block;
}
 
.product-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
}

.pdt-leftside {
    flex: 1.5; 
    display: flex; 
}

.pdt-leftside img{
    width: 100%;
    /* padding: 10px; */
}

.crousel{
    display: flex;
    align-items: center;
}

.crousel span{
    font-size: 58px;
}


.product-wrapper li{ 
    padding:15px;
}

.product-wrapper li img{
    width: 118px;
    border: 1px solid #490000;
}

.image-sec{
    display: flex;
}

.pdt-zoom-image{
    margin-top: 15px; 
    text-align: center;
    display: flex;
    overflow: hidden;
}
  
/* pdt-right  */

.pdt-rightside { 
    flex: 1;  
}

.pdr-detail-sec{
    color: #490000;
}

.pdt-rightside .pdt-name{
    display: flex;
    justify-content: space-between;
}

.pdt-rightside .pdt-name .pdt-share span{
    font-size: 28px; 
    cursor: pointer;
}

.pdt-rightside .pdt-name .pdt-share span:hover{
    color: #fff;
}

.pdt-rightside .pdt-name h1{
    font-size: 28px;
    font-weight: 600; 
}

.pdt-rightside .pdt-star{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #490000;
}

.pdt-rightside .pdt-star span{
    font-weight: 100;
    font-size: 30px;
    letter-spacing: -10px;
}

.pdt-rightside .pdt-star p{
    padding-left: 10px;
}

.pdt-rightside .pdt-para h5{
    font-size: 14px;
    font-weight: 500;
    padding: 15px 0px;
}

.pdt-rightside .pdt-price span{
    font-size: 30px;
}

.pdt-attr{
    display: flex;
}

.pdt-attr .pdt-qnt{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;

}

.pdt-attr .pdt-qnt label{
    padding: 10px 0px;
    font-size: 19px;
    color: #490000;
    font-weight: 600;
}

.pdt-attr .pdt-qnt select{
    padding: 7px;
    border-radius: 3px;
    border-color: #490000;
    font-size: 15px;
    width: 130px;
    height: 43px;
}

.pdt-attr .pdt-qnt select::placeholder{
    background-color: #490000;
}

.pdt-purity-sec{
    color: #490000;
    font-weight: 600;
    border-bottom: 1px solid #490000;
    padding: 15px 0;
    margin: 17px 0 0;
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
}

.pdt-purity-sec {
    color: #490000;
    font-weight: 600;
}

.hr-line{
    border: 1px solid #490000;
}

.pdt-guranteed{
    margin: 10px 0;
}

.pdt-guranteed li{
    display: flex;
    padding: 5px 0px;
}
  
.pdt-wishlist input{
    border: 0px solid;
    border-radius: 5px;
    background-color: #490000;
    color: #fff;    
    font-weight: 600;
    width: 35%;
    height: 55px;
    font-size: 17px;
}

.pdt-wishlist input:hover{
    outline: #490000 solid 2px;
    background: transparent;
    color: #490000;
}

.pdt-center{
    display: flex;
}

.pdt-center-img img{
    width: 60%;
}

.pdt-detail  h2 ,.pdt-price-breakup h2{
    padding: 20px 0; 
    font-size: 30px ;
    font-weight: 500;
}

.pdt-detail p{
    margin: 15px 0px;
    font-weight: 600;
}

.pdt-detail .pdt-detail-list li{
    padding: 10px 0;
}

.pdt-price-table table{
    width: 90%;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    border-collapse: collapse;
}

.pdt-price-table table th{
    color: #490000;
    font-weight: 500;
    border-bottom: 1px solid #490000;
    padding: 15px 0;
}

.pdt-price-table table td{ 
    padding: 15px 0;
}
                                    /* footer section */
footer{
    background-color: #380100;
}

.footer-sec{ 
    margin-top: 45px;
    display: flex; 
    justify-content: space-evenly;   
}

.footer-res {
    display: flex; 
    text-align: left
}

.footer {
    margin: 40px 0;
    display: flex;
    flex-direction: column; 
    width: -webkit-fill-available; 
}

.footer li{
    list-style: none;
}

.footer h2{
    margin: 30px 0;
    color: #e3d686;
    font-size: 25px;
    font-weight: normal;
}

.footer a{
    text-decoration: none;
    color: #fff;
    font-size: 20px; 
    line-height: 50px;
    transition: 0.5s;
    position: relative;
    display: inline;
}  

.footer a::before{
    content: "";
    position: absolute;
    bottom: 1;
    height: 2px;
    color: #e3d686;
    width: 0%;
    transition: 0.5s ease; 
}

.footer a:hover::before{
    content: "";
    position: absolute;
    bottom: 1 ; 
    width: 100%; 
    background-color:#e3d686;
}

.footer a:hover{
    color: #e3d686; 
} 

.footer .icon{
    color: #fff;
    margin-top: 6px;
}
    
.footer-icon ul{
    display: flex;
    justify-content: flex-start;
}

.footer-icon ul li{
    width: 45px;
}

footer .copyright-text{
    text-align: center;
    color: #e3d686; 
    font-size: 20px;
    padding: 20px 0px;
}



@media screen and (max-width:430px) {
    .content{
        width: 100%; 
    }
    
    .hr-line{
        display: block;
    }

    section:nth-of-type(9){
        display: none;
    }
    .header-section img{
        width:15%; 
    }

    .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    section:nth-child(9){
        display: none;
    }

    .nav-bar{
        display: none;
    }
    .nav-bar2{
        /* display: none; */
        padding: 0px;
        position: absolute;
        z-index: 1;
    }
    .nav-bar2 .active{
        display: none;
        box-shadow: none;
        border-radius:0px;
        position: inherit;
        top: 0;
        text-align: center;
    } 

    .dropdown:hover .nav-bar2 .active{
        display: block;
    }

    .dropdown {
        width: -webkit-fill-available;
    }  

    .drop-menu-icon{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 10px;
    }
    
    .drop-menu-icon i {
        display: block;
    }

    .drop-menu-1 ul>div:nth-of-type(2)>li:nth-of-type(1){
        display: none;
    }

    .drop-menu-1 ul{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .drop-menu-1 ul>div {
        margin: 0px;
    }
    .drop-menu-1 .list {
        font-size: 20px;
        text-align: center;
    }

    .drop-menu-1 li { 
        line-height: 25px;
        width: auto;
    }

    .drop-menu-1 li a {
        font-size: 15px;
        padding: 0px;
    }

    .nav-bar2 nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 37px;
    }

    .nav-bar2 .nav-link{
        font-size: 13px;
        padding: 0px;
    }

    .search{
        margin: 10px 9px 0px 10px;
        height: 43px;
        width: 80%;
    }

    .sj-links {
        display: none;
    }
    .sj-search {
        width: 55vw;
    } 

    .sj-search-input{
        justify-content: space-between;
        height: 18px;
    }

    .sj-search-input input{
        width: 36vw;
    }
    .sj-hamburger {
        display: block;
        color: #fff;
        font-size: 6vw;
        position: relative;
    }


    section .container{
        width: 90%;
        margin: 0px 20px;
    }

    .product-wrapper{
        display: flex;
        flex-direction: column; 
    }

    .product-wrapper .pdt-thumbs{
        display: none;
    }

    .crousel{
        display: none;
    }

    .pdt-rightside{
        margin: 20px 0px;
    }

    .pdt-rightside .pdt-name h1 {
        font-size: 20px;
    }

    .pdt-rightside .pdt-price span {
        font-size: 19px;
    }

    .pdt-rightside .pdt-para h5{
        font-size: 18px;
    }

    .pdt-rightside .pdt-star{
        display: block;
    }

    .pdt-rightside .pdt-star span{
        font-size: 40px;
        margin-left: -10px;
    }
    .pdt-rightside .pdt-star p{
        font-weight: 700;
        margin-left: -10px;
        font-size: 18px;
    }
    .pdt-guranteed{
        font-size: 20px;
    }
    
    .pdt-wishlist input{
        width: 37%;
        height: 50px;
        font-size: 12px;
    }

    .pdt-center{
        flex-direction: column;
    }
    
    .pdt-center-img img{
        width: 100%;
    }

    .pdt-detail p{
        font-size: 20px;
    }

    .pdt-detail-list{
        font-size: 20px;
    }

    .pdt-detail h2, .pdt-price-breakup h2 {
        text-align: center;
        text-transform: uppercase;
    }

    .pdt-price-table table {
        width: 100%;
        font-size: 20px;
        line-height: 40px;
    }

    .pdt-price-table table th:nth-of-type(2),th:nth-of-type(3),th:nth-of-type(4){
        display: none;
    }

    .pdt-price-table table td:nth-of-type(2),td:nth-of-type(3),td:nth-of-type(4){
        display: none;
    }

    footer .container{
        width: auto;
    }

    .footer-sec{
        display: flex;
        flex-direction: column; 
    }

    .footer-res{
        display:flex;
        justify-content: space-evenly;
        text-align: center;
    }

    .footer {
        margin: 15px 0; 
    }

    .footer h2{
        margin: 10px 0;
        font-size: 25px;
    }

    .footer a {
        font-size: 20px;
        line-height: 35px;
    }

    .footer .icon{
        font-size: 12px;
    }
    
    .footer-icon ul{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    footer .copyright-text {
        padding: 20px 0px;
        font-size: 20px;
    }
}