body{
    width: 100%;
    margin: 0 auto;
}

h1{
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.header-section{
    background-color: rgb(223, 223, 223);
    /* text-align: center; */
    padding: 13px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-section{
    background-color: rgb(223, 223, 223);
    /* text-align: center; */
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* height: 95%; */
}

.content-1{
    /* float: left; */
    width: 16%;
    background-color: rgb(223, 223, 223);
    /* text-align: center; */
    padding: 13px;
    margin: 0px 15px 0px 0px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-2{
    width: 60%;
    /* float: left; */
    background-color: rgb(223, 223, 223);
    /* text-align: center; */
    padding: 13px;
    margin: 0px 15px 0px 0px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-3{
    /* float: left; */
    width: 16%;
    background-color: rgb(223, 223, 223);
    /* text-align: center; */
    padding: 13px;
    /* margin: 0px 15px 0px 0px ; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-section{
    background-color: rgb(223, 223, 223);
    /* text-align: center; */
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

.content{ 
    background-color: rgb(223, 223, 223); 
    padding: 13px;
    margin: 0px 15px 0px 0px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.column{
    background-color: rgb(223, 223, 223); 
    padding: 13px;
    /* margin: 0px 15px 0px 0px ; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width:430px) {
    
    .header-section{
        font-size: 11px;
        padding: 4px;
        margin-bottom: 5px;
    }

    .navbar-section{
        font-size: 11px;
        padding: 4px;
        margin-bottom: 5px;
    }
    
    section{
        /* display: none; */
        display: flex;
        flex-direction: column;
        margin-bottom: 7px ;
    }

    section .content-1{
        font-size: 10px;
        width: 100%;
        padding: 0px;
        margin-bottom: 7px;
    }

    section .content-2{
        font-size: 10px;
        width: 100%;
        padding: 0px;
        margin-bottom: 7px;
    }

    section .content-3{
        font-size: 10px;
        width: 100%;
        padding: 0px; 
    }

    .footer-section{
        font-size: 8px;
        padding: 4px;
        margin-bottom: 5px;       
    }

    .content{
        margin: 0 0 7px 0px;
    }
}