
table{
    background-color: #f5edb3;
    text-align: center;
}

h1 {
    text-align: center;
    color: #5c2525;
    background-color: #e3bc8e;
    font-family:Roboto,Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 3px 1px 3px #8d323b;
    text-decoration-line: underline;
    text-decoration-color: rgb(102, 59, 59);  
    text-decoration-style: solid; 
    text-decoration-thickness: 2px;
}

.section-name{
    font-size: 20px;
    font-family:Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold; 
    font-variant: small-caps;
    color: #5c2525;
}

#gender{
    font-size: 20px;
    font-family:Roboto,'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold; 
    font-variant: normal;
    color: #5c2525;
    word-spacing: 10px;
}

.section-hobbies{
    font-size: 16px;
    font-family:Roboto,'Courier New', Courier, monospace;
    font-weight:bold; 
    font-variant: normal;
    color: #5c2525;
    word-spacing: 10px;
    line-height: 50px;
}

#submit{
    height: 30px;
    color: #5c2525;
    font-family:Roboto,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: burlywood;
    border: 2px solid #b9976c;
    border-radius: 10px;
}